#buttons{
    width: 325px;
}

.button{
    width: 5rem;
    height: 2rem;
    color:  var(--gray);
    border: 1px solid; 
    border-radius: 5px;
}
.black{
    background-color: #3c4043;

}
.gray{
    background: #5f6368;
}