:root{
    --gray:#c0c6c9;
    --black:rgba(10, 20, 32, 0.658);
    --black2: rgba(10, 20, 32, 0.815);
    --blue:rgba(29, 121, 226, 0.658);
    --white: #f5f9fa;
}
body {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    font-family: inherit;
}
#size{
    display: inline;
    justify-content: center;
}
#Calculadora{
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    margin-top: 10rem;
}
#resultBox, .button{
    margin: 0.2rem 0.1rem;
}

#numbers, .number{
    font-family: 'Courier New', Courier, monospace;
}


